<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters --> 
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	
	<!-- Creates the Spring Container shared by all Servlets and Filters --> 
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<jsp-config>
		<!-- Set to true to disable JSP scripting syntax -->
		<jsp-property-group>
			<url-pattern>/scripting-invalid/scripting.jsp</url-pattern>
			<scripting-invalid>false</scripting-invalid>
		</jsp-property-group>
		<!-- Set to true to disable Expression Language (EL) syntax -->
		<jsp-property-group>
			<url-pattern>/scripting-invalid/scripting.jsp</url-pattern>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
	</jsp-config>
	

	<!-- Processes application requests	--> 
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/spring</url-pattern>
	</servlet-mapping>
	
	<!-- standardActions servlet -->
	<servlet>
		<servlet-name>standardActions</servlet-name>
		<servlet-class>eu.rtakacs.jsp.StandardActionsController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>standardActions</servlet-name>
		<url-pattern>/standard</url-pattern>
	</servlet-mapping>	

	<!-- init parameters for jsp page -->
	<servlet>
		<servlet-name>implicitObjects</servlet-name>
		<jsp-file>/implicitObjects.jsp</jsp-file>
		<init-param>
			<param-name>email</param-name>
			<param-value>name@domain.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>implicitObjects</servlet-name>
		<url-pattern>/implicitObjects.jsp</url-pattern>
	</servlet-mapping>
	
	<!-- ELController servlet -->
	<servlet>
		<servlet-name>ELController</servlet-name>
		<servlet-class>eu.rtakacs.jsp.ELController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>ELController</servlet-name>
		<url-pattern>/ELBasics</url-pattern>
	</servlet-mapping>	


	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/WEB-INF/error/arithmeticError.jsp</location>
	</error-page>
<!-- 	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/error/errorPage.jsp</location>
	</error-page>
 -->	

 	
	<error-page>
		<error-code>404</error-code>
<!-- 		<location>/error/notFound.html</location>  -->
		<location>/WEB-INF/error/notFond.html</location>
	</error-page>

	

</web-app>
